::ng-deep .modal-content {
    /* margin-top: 50% !important;
    max-width: 300px; */
    border: 2px solid;
    margin: 0 auto;
    border-radius: 60px !important;
    border-color: black;
    width: 535px;
}

.btn-danger {
    color: black;
    background-color: orangered;
    border-color: orangered;
    background: white;
}

.btn-danger:hover {
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}

.btn-primary {
    color: black;
    background-color: green;
    border-color: green;
    background: white;
}

.btn-primary:hover {
    color: #fff;
    background-color: green;
    border-color: green;
}

.digit-box {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid black;
    display: inline-block;
    border-radius: 4px;
    margin: 5px;
    padding: 05px;
    font-size: 20px;
    text-align: center;
}

.otpContent {
    text-align: center;
}

.digit-box:focus {
    outline: 2px solid gray;
}

.wrong-otp {
    .digit-box {
        background-color: #f5b6b64a;
        border: 1px solid #ff000094;
    }

    .digit-box:focus {
        outline: 2px solid #ff000094;
    }
}

.cl-red {
    color: red;
}

.btn-cancel {
    background: red;
    color: white;
}

.b-none {
    border: none;
}

.otp-row {
    display: flex;
}

.mr-30 {
    margin-right: 30px;
}

.mt-30 {
    font-size: 20px;
    margin: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.fw-500 {
    font-weight: 500;
}

.btn-align {                     
    justify-content: center;
    margin: 0px;
    margin-bottom: 7px;
    position: relative;
    bottom: 5px;
    left: 10px;
}

.align-center {
    justify-content: center;
}

.w-300 {
    width: 300px;
}

.btn {
    border-radius: 20px;
}

.err-msg {
    color: red;
    text-align: center;
}

.otp-input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 380px;
    padding: 10px;
}

.modal-body {
    padding: 10px;
    text-align: center;
}

.modal-footer {
    margin-bottom: 10px;
}

.mr-50 {
    margin-right: 50px;
}
.close{
    position: absolute;
    right: 50px;
    border-radius: 5px;
    border: transparent;
}
.modal-close{
    margin-left: 28%;
}

.mt-10{
    margin-top: 10px;
}

.mt-5{
    margin-top: 10px;
}

/* .passkey{
    top: 0px;
    position: absolute;
    width: 700px;
    height: 350px;
    right: 30px;
} */

.filter{
    filter: blur(2px);
    padding: 40px;
    width: 630px;
    padding-right: 10px;
    position: absolute;
    left: 108px;
}

.mid-center{
    position: absolute;
    width: 500px;
    align-items: center;
    align-content: center;
    margin-left: 100px;
    color: white;
    text-align: center;
    left: 95px;
    top: 20px;
}

.p-50{
    right: 10px;
    width: 800px;
    position: absolute;}

.position-relative{
    top: 260px;
    left: 115px;
}

.b-image{
    border: 3px solid skyblue;
}

.b-radius{
    border-radius: 110px
}

.justify-content{
    justify-content: center;
}


.btn-cancel{
    color: black;
    background-color: darkorange;
    border-color: darkorange;
    background: white;
}

.btn-cancel:hover{
    color: #fff;
    background-color: darkorange;
    border-color: darkorange;
}

.img{
    position: relative;
    left: 90px;
}

.text{
    margin-bottom: 0rem;
    margin-top: 0px;
    font-size: 20px;
    font-family: ui-serif;
    font-size: medium;
    font-weight: 400;
    margin: 10px;
}

.rs-border{
    margin: 0 auto;
    border-radius: 60px !important;
    border-color: black;
    width: 460px;
    height: 40px;
}

.input-align{
    justify-content: center;
    display: flex;
}

.w-350{
    width: 350px;
}

.b-radius{
    border-radius: 5px;
}

.enteredotp{
    position: absolute;
    left: 40px;
}

.enterotp{
    position: relative;
    right: 105px;
    top: 26px;
    bottom: 11px;
}

.otp{
    position: relative;
    right: -70px;
    margin-bottom: 7px;
    bottom: 10px;
}

.modal-title{
    font-weight: bold;
}

.t-text{
    font-size: larger;
}

.enterotp{
    position: relative;
    bottom: 10px;
}

.password-toggle-icon{
    position: relative;
    left: 45px;
    bottom: 10px;
}

