<!-- <div class="main-section">
    <div class="background">
    <img src="https://www.tetratech.com/en/images/cybersecurity-transformation-pd20-018-960.jpg" alt="" width="100%" height="100%">
    </div>
    </div>
    <div class="content">
    <div class="text-align mb-40">
        <h3>Hello</h3>
        <div>You have successfully registered.</div>
    </div>
    <div class="email-section mb-30">
    <h4 class="mb-20">Emails</h4>
    <p>Your email is used for communication & authentication.</p>
<div class="ml-15">
    <div class="mb-20"><b>sample@fiserv.com</b></div>
    </div>
    <a href="#">+ Add Email</a>
<div class="passkey-section mb-40"><br>
<h4 class="mb-40">Passkeys</h4>
<p>Saved passkey allows you to sign in to this account.</p>
<div class="ml-15">
    <div class="mb-30"><b>Passkeys-XxXxxxX</b></div>
    <div>
        <a href="#">+ Add passkey</a>
        </div>
    </div>
    </div>
<div class="mt-40 text-align">
    <button type="button" class="login-btn" (click)="logOut()">LogOut</button>
</div>
</div> -->
