.main-section {
    overflow: hidden;
    color: white;
}

.text-align {
    text-align: center;
    margin-bottom: 100px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.ml-15 {
    margin-left: 15px;
}

.login-btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    color: white;
    background-color: black;
    border: 50px;
}

.background {
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}

.login-btn:hover {
    background-color: #0056b3;
}

.content {
    background-color: rgb(255, 255, 255); /* Semi-transparent white background for content */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    max-height: 65%;
    position: absolute;
    z-index: 1;
    top: 18%;
    left: 10%;
    text-align: center;
}


